/* Polygon marker style */
.box .polygon {
    position: absolute;
    top: -1px;
    left: 237px;
    width: 27px;
    height: 25px;
}

/* Progress bar labels frame */
.box .frame {
    display: flex;
    margin-left: 8px;
    width: 332px;
    height: 20px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

/* Secondary text (0%, 100%) */
.box .text-wrapper-4 {
    color: #c7c7c7;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
}

/* Highlighted text (50%) */
.box .text-wrapper-5 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
}

/* Container for insured value */
.box .element-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2px 10px 2px 14px;
    position: absolute;
    top: 26px;
    left: 310px;
    background-color: #71a3ef;
    border-radius: 31px;
    overflow: hidden;
}

/* Dollar sign style */
.box .text-wrapper-8 {
    position: absolute;
    top: 31px;
    left: 318px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #fffffd;
    font-size: 6px;
    letter-spacing: 0.12px;
    line-height: normal;
    white-space: nowrap;
}

/* Layout containers */
.box header {
    position: relative;
}

.box .percentage-section {
    position: relative;
}

/* Number text wrapper */
.box .element-k {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: normal;
}

/* Inner text spans (62,) */
.box .text-wrapper-6 {
    color: #ffffff;
    letter-spacing: 0.06px;
}

/* Inner text spans (3k) */
.box .text-wrapper-7 {
    color: #ffffffcc;
    letter-spacing: 0.06px;
}


/* Հիմնական կոնտեյներներ */
.box {
    position: relative;
    width: 396px;
    height: 293px;
}

.box .group {
    position: fixed;
    width: 402px;
    height: 293px;
}

.box .view {
    position: absolute;
    top: 0;
    left: 0;
    width: 396px;
    height: 293px;
    background-color: #fafcffcc;
    border-radius: 16px;
}

.box header {
    position: relative;
}

/* Տեքստային ոճեր */
.box .text-wrapper {
    position: absolute;
    top: 31px;
    left: 21px;
    width: 201px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #3c3c3c;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
    margin: 0;
}

.box .div {
    position: absolute;
    top: 126px;
    left: 207px;
    width: 157px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #c7c7c7;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
}

/* Ապահովագրված արժեքի բաժին (62,3k $) */
.box .element-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 2px 10px 2px 14px;
    position: absolute;
    top: 26px;
    left: 310px;
    background-color: #71a3ef;
    border-radius: 31px;
    overflow: hidden;
}

.box .element-k {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 18px;
    letter-spacing: 0.36px;
    line-height: normal;
    margin-bottom: 0;
}

.box .text-wrapper-6 {
    color: #ffffff;
    letter-spacing: 0.06px;
}

.box .text-wrapper-7 {
    color: #ffffffcc;
    letter-spacing: 0.06px;
}

.box .text-wrapper-8 {
    position: absolute;
    top: 31px;
    left: 318px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    color: #ffffffd6;
    font-size: 6px;
    letter-spacing: 0.12px;
    line-height: normal;
    white-space: nowrap;
}

/* Տոկոսային բաժին (75.55%) */
.box .percentage-section {
    position: relative;
}

.box .group-2 {
    position: absolute;
    top: 117px;
    left: 21px;
    width: 181px;
    height: 78px;
    display: flex;
    gap: 4px;
}

.box .element {
    width: 164px;
    height: 78px;
    color: transparent;
    font-size: 64px;
    letter-spacing: 1.28px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.box .span {
    color: #000000;
    letter-spacing: 0.82px;
}

.box .text-wrapper-3 {
    color: #c7c7c7;
    letter-spacing: 0.82px;
}

.box .text-wrapper-2 {
    margin-top: 14px;
    width: 9px;
    height: 12px;
    color: #000000;
    font-size: 10px;
    letter-spacing: 0.20px;
    white-space: nowrap;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    line-height: normal;
}

/* Progress Bar բաժին */
.box .group-3 {
    position: absolute;
    top: 210px;
    left: 24px;
    width: 348px;
    height: 54px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.box .group-4 {
    height: 28px;
    position: relative;
}

.box .rectangle {
    left: 253px;
    width: 95px;
    border-radius: 0px 58px 58px 0px;
    background: linear-gradient(90deg, rgba(109, 161, 239, 0.31) 0%, rgba(246, 248, 250, 0.25) 100%);
    position: absolute;
    top: 3px;
    height: 16px;
}

.box .rectangle-2 {
    left: 0;
    width: 253px;
    border-radius: 58px 0px 58px 58px;
    background: linear-gradient(90deg, rgba(191, 213, 248, 1) 0%, rgba(102, 156, 238, 1) 100%);
    position: absolute;
    top: 3px;
    height: 16px;
}

.box .polygon {
    position: absolute;
    top: -1px;
    left: 237px;
    width: 27px;
    height: 25px;
}

/* Շրջանակ և տոկոսային նշումներ (0%, 50%, 100%) */
.box .frame {
    display: flex;
    margin-left: 8px;
    width: 332px;
    height: 20px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.box .text-wrapper-4 {
    color: #c7c7c7;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
}

.box .text-wrapper-5 {
    color: #000000;
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "Montserrat", Helvetica;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    line-height: normal;
}
