* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
.sign-img-cont {
    background-image: url(./backimg.png);
    background-size: cover;
    background-position: top;
    position: relative;
}
.cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.sign-in-cont, .sign-img-cont {
    width: 50%;
    height: 100vh;
}
.container-rev {
    width: 80%;
    margin: auto;
}
.review-cont {
    padding-top: 65px;
}
.review {
    color: white;
    font-size: 24px;
    margin-bottom: 24px;
}
.review-person img {
    width: 44px;
    height: 44px;
}
.review-person {
    display: flex;
    gap: 8px;
    align-items: center;
}
p.person-name {
    color: white;
    font-size: 16px;
}
p.person-info {
    color: #FBFBFB;
    font-size: 14px;
}
.sign-in-cont {
    padding: 2% 3%;
    position: relative;
}
img.logo-img {
    width: 154px;
    position: absolute;
}
.gen-cont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.sign-in {
    width: 65%;
    margin: auto;
    gap: 28px;
    display: flex;
    flex-direction: column;
}
h1 {
    font-weight: 500;
    margin-bottom: 6px;
    font-size: 28px;
}
p.subtitle {
    color: #515151;
    font-size: 14px;
}
button.google-btn {
    background-color: transparent;
    border: 1px solid #E6E8E7;
    border-radius: 10px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 8px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}
.google-btn img {
    width: 24px;
}
.or-cont p {
    color: #6E6E6E;
    font-size: 16px;
    font-weight: 500;
}
.or-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}
.or-line {
    width: 43%;
    background-color: #E6E8E7;
    height: 1px;
}
input {
    display: block;
    margin-top: 6px;
    margin-bottom: 12px;
    width: 100%;
    padding: 10px 16px;
    border: 1px solid #E6E8E7;
    border-radius: 10px;
    font-size: 14px;
    color: #232323;
}
label {
    color: #9A9A9A;
    font-size: 14px;
}
button.sign-in-btn {
    width: 100%;
    background-color: #367AFF;
    padding: 10px 16px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}
p.cta {
    font-size: 14px;
    text-align: center;
    color: #6C6C6C;
}
.cta a {
    font-weight: 500;
    color: #367AFF;
}


