* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.container {
    width: 94%;
    margin: auto;
}
header {
    background-color: #FBFBFF;
}
.tb {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.toolbar-cont {
    width: fit-content;
    display: flex;
    gap: 24px;
}
nav a {
    font-size: 14px;
    color: #535C65;
    text-decoration: none;
}
nav {
    display: flex;
    gap: 24px;
    align-items: center;
}
button.sign-up {
    color: #FAFAFA;
    padding: 6px 16px;
    background-color: #63686C;
    border-radius: 6px;
    font-size: 14px;
    border: none;
}
.login-btn {
    color: #2a2a2a;
    padding: 6px 16px;
    background-color: #e4e9f600;
    border-radius: 6px;
    font-size: 14px;
    border: none;
}
.btn-cont {
    display: flex;
    gap: 12px;
}
.flash {
    width: fit-content;
    display: flex;
    gap: 12px;
    align-items: center;
    background-color: #ffffff8f;
    border-radius: 50px;
    padding-right: 12px;
    margin: auto;
}
.flash p {
    font-size: 14px;
    font-weight: 400;
    color: #4C4C4C;
}
h1 {
    font-size: 36px;
    font-weight: 400;
    color: #4C4C4C;
    width: 51%;
    margin: auto;
    line-height: 48px;
    text-align: center;
}
h1 span {
    color: #2563EB;
    font-weight: 500;
}
.subtitle {
    width: 43%;
    margin: auto;
    text-align: center;
    color: #4C4C4C;
    font-size: 16px;
}
.hero-btn {
    width: fit-content;
    margin: auto;
    gap: 16px;
    display: flex;
}
button.first {
    background-color: transparent;
    border: none;
    padding: 6px 0;
    font-size: 16px;
    color: #2F2F2F;
}
button.main {
    background-color: #2563EB;
    padding: 6px 24px;
    border: none;
    border-radius: 6px;
    color: #FAFAFA;
    font-size: 16px;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.hero-sect {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
img.hero-img {
    width: 90%;
    display: block;
    margin: auto;
    box-shadow: 0 4px 37px 0px #2563eb36;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.hero-mob-img {
    box-shadow: 0 4px 37px 0px #2563eb36;
    border-top-right-radius: 16px;
}
@media screen and (max-width: 1280px) {
    h1 {
        width: 66%;
    }
    .subtitle {
        width: 55%;
    }
    .flash img {
        width: 28px;
    }
    .flash {
        gap: 8px;
    }
}
.hero-mob-img {
    display: none;
}
@media screen and (max-width: 1024px) {
    h1 {
        width: 82%;
        font-size: 32px;
        line-height: 44px;
    }
    .subtitle {
        width: 72%;
    }
}
@media screen and (max-width: 768px) {
    .hero-img {
        display: none !important;
    }
    .hero-mob-img {
        display: block !important;
        width: 96%;
    }
    nav {
        display: none !important;
    }
    h1 {
        width: 96%;
        font-size: 28px;
        line-height: 36px;
    }
    .subtitle {
        width: 100%;
    }
    button.main, button.first {
        padding: 6px 12px;
        font-size: 14px;
    }
    .flash p {
        font-size: 12px;
    }
    .flash img {
        width: 24px;
    }
    .subtitle {
        width: 90%;
    }
    .container {
        width: 92%;
    }
}
@media screen and (max-width: 425px){

}


